config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
blobs
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz

examples/HbaseExample/build/
examples/HbaseExample/.gradle/
examples/HbaseExample/gradle/
examples/HbaseExample/gradlew
examples/HbaseExample/gradlew.bat

examples/HbaseLoadTest/build/
examples/HbaseLoadTest/.gradle/
examples/HbaseLoadTest/gradle/
examples/HbaseLoadTest/gradlew
examples/HbaseLoadTest/gradlew.bat
